<?xml version="1.0"?>
<launch>
    <group ns="/exoskelaton_plus_hand">
        <arg name="paused" default="false"/>
        <!-- send robot urdf to param server -->
        <param name="robot_description" textfile="$(find exoskelaton_plus_hand)/urdf/exoskelaton_plus_hand.urdf" />

        <!-- unpause only after loading robot model -->
        <arg name="unpause" value="$(eval '' if arg('paused') else '-unpause')" />
        <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
        <arg name="world_pose" value="-x 0 -y -2 -z 1" />
        <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model exoskelaton_plus_hand $(arg unpause) $(arg world_pose)"
            output="screen" />
    
    </group>
    <include file="$(find exoskelaton_plus_hand)/launch/ros_controllers.launch"/>
</launch>