<?xml version="1.0"?>
<model>
  <name>exoskelaton_plus_hand.urdf</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Ahmed Abdelfattah</name>
    <email>Ahmed.Abdelfattah@tuhh.de</email>
  </author>

  <description>
    exoskelaton_plus_hand for remote haptic project TUHH IMU
  </description>
</model>
