    <plugin name="3d_camera_controller" filename="libgazebo_ros_openni_kinect.so">
    <baseline>0.2</baseline>
    <alwaysOn>true</alwaysOn>
        <updateRate>10.0</updateRate>
        <cameraName>3d_camera</cameraName>
        <frameName>camera_frame_optical</frameName>                   
    <imageTopicName>rgb/image_raw</imageTopicName>
    <depthImageTopicName>depth/image_raw</depthImageTopicName>
    <pointCloudTopicName>depth/points</pointCloudTopicName>
    <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>              
    <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>            
